<!DOCTYPE html>
<html>
<head>
  <title> Dan's Weather App</title>
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>

<body>
  <nav></nav>
  <center>
    <form method="POST", action="/city">
      <input type="text" placeholder="Enter your city here..." name="searchedCity" required autofocus>
       <button>Submit</button>
    </form>

  <div id="content">

    <h1>Welcome to Daniel's weather app! </h1> <br>
    <p>To start, type a city into the searchbar.</p> <br><br>

  </div>
</center>
</body>
</html>
